.card {
    height: 45vh;
    width: 20vw;
    max-height: fit-content;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
  }
  .cardHead {
    height: 50%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
  }
  .cardBody {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .cardTitle {
    font-weight: 800;
    font-size: 1rem;
    margin-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    margin: 0.2rem;
    -webkit-box-orient: vertical;
  }
  